
.dashboard_container {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 25vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    text-align: center;
    background-color: #dcdcdc;
    padding: 3px;
    justify-content: center;
    align-items: center;
}

.dashboard_btn {
    width: 60%;
    padding: 3px;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    border: none;
    color: white;
    background-color: black;
}

.dashboard div {
    margin-top: 7px;
}